@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

body{
    
    background-image: url(./image/background-technology-desktop.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: hidden;
}
nav{
    text-align: center;
    background-color: rgba(75, 74, 74, 0.104);
    height: 5rem;
    width: 60%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content:space-evenly;
    /* filter: blur(5px); */
    backdrop-filter: blur(5px);
}


nav a{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    position: relative;
    align-content: center;
    /* background-color: rgb(216, 217, 216); */
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    
}

.container{
    /* background-color: rgb(34, 17, 17); */
    position: absolute;
    margin-top: 3rem;
    height: 5rem;
    width: 100%;
    left: 0px;
    display: flex;
    align-items: center;
}
.text-side{
    /* position: absolute; */
    z-index: -10;
    /* background-color: aqua; */
    width: 60%;
    display: flex;
    height: 100vh;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 0;
    top:3rem;
    
}
.text{
    height: 100%;
    /* background-color: aqua; */
    /* display: inline-block; */
    width: 75%;
    color:white;
    align-content: center;

}
.cycle{
    display: none;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    height:20rem ;
    width: 20rem;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 18rem;
    margin-bottom: 12rem;
    box-shadow: 0rem 0rem 4rem 1rem rgba(0, 0, 0, 0.459);  
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5rem;
    transition: 0.5s;

}
.logo{
   margin-left: 3.5rem;

}
.ruler{
    position: absolute ;
    z-index: 3;
    height: 1px;
    width: 35%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-content: center;
    margin-left: 10rem;
}
a::after{
    z-index: 10;
    position: absolute;
    /* display: flex; */
    content: '';
    width: 0;
    height: 4px;
    background-color: white;
    left:0;
    bottom:0;
    transition: 0.3s;

}
a:hover:after{
    width: 100%;
}
#text1{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
#text2
{
    font-family: "Odor Mean Chey", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 4rem;
    letter-spacing: 0.5rem;
    margin-bottom: 1.5rem;
    /* margin: -1rem; */
}

#text3{
    color:rgb(174, 175, 176);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    margin-bottom: 3rem;    
}
.cycle:hover{
    background-color: rgb(66, 67, 75);
    color: white;
}


.ruler2{
    margin-top:3rem;
    margin-bottom: 1rem;
}
.box1{
    float: left;
    margin-right: 5rem;
}
.box1 p{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.box2 p{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.box1 h2{
    font-family: "Odor Mean Chey", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
}
.box2 h2{
    font-family: "Odor Mean Chey", serif;
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
}

.rocket{
    position:absolute;
    right: 0;
    height: 100vh;
    padding: 11%;
    border-radius: 250px;
    border-color: white;
    z-index: -10;
    transition: 0.5s;
}
.rocket:hover{
    filter: brightness(120%);
    padding: 9%;
}
#text0{
    position: absolute;
    top:9rem;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
#text4{
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.3rem;
    margin-top: 1rem;
}
.number{
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 4.5rem;
    top:-0.5rem;
    margin-right: 5rem;
    line-height: 6rem;
}
.btn:hover{
    background-color: rgba(69, 69, 70, 0.445);
    border: none;
    height: 7rem;
    width: 7rem;
}


.btn{
    z-index: 30;
    cursor: pointer;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    color: white;
    height: 6rem;
    width: 6rem;
    background-color: rgba(165, 42, 42, 0.021);
    text-align: center;
    border-radius: 50%;
    margin-bottom: 2rem;
    transition: 0.5s;
    font-size: 1.3rem;
}